
:root {
    --dark-red: ;
    --light-red: ;
    --dark-green: ;
    --light-green: ;
}

form {
    justify-content: space-around;
}

fieldset {
    background-color: gainsboro;
    display: flex;
    flex-flow: column wrap;
    margin: 1vh 2vw;
    padding: 1vh 2vw;
}

legend {
    position: relative;
    top: calc(10% + 1em);
}

label {
    font-size: 1.25em;
    display: flex;
    flex-wrap: wrap;
    gap: calc(.5em + .1vw);
    align-items: baseline;
}

label:hover {
    cursor: pointer;
}

label > span:first-of-type {
    color: maroon;
    font-size: 1rem;
    font-weight: bold;
}

form [id*=hint] {
    font-size: 1em;
}

[autocomplete] {
    width: calc(90% - 10vw);
}