@import url("./fonts/source-sans-pro.css");
@import url("./tables.css");
@import url("./datepicker.css");
@import url("./spinbox.css");

:root {
    font: calc(1rem + .25vw) "Source Sans Pro", "Segoe UI", "Trebuchet MS", tahoma, arial, sans-serif;
    --line-width: .12rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hover-label {
    position: relative;
}

.hover-label > span {
    color: transparent;
    font-size: 1px;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
}

.hover-label:hover > span,
.hover-label:focus > span,
.hover-label > span:hover {
    color: inherit;
    font-size: .9em;
    position: absolute;
    bottom: 100%;
}

*,
::after,
::before {
    font: inherit;
    box-sizing: border-box;
}

::after,
::before {
    display: inline-block;
}

:disabled {
    cursor: not-allowed;
}

[hidden] {
    display: none!important;
}

[title] {
    text-decoration: underline dotted;
}

html,
body {
    line-height: 1.5;
    margin: 0;
    width: 100%;
    height: 100%;
}

button,
input,
select,
option,
summary,
[href] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .25em;
    width: calc(24px + .5em);
    min-width: max-content;
    height: calc(24px + .5em);
    min-height: max-content;
}