@import url("./fonts/source-sans-pro.css");

:root {
    font: calc(1rem + .25vw) "Source Sans Pro", "Segoe UI", "Trebuchet MS", tahoma, arial, sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

*,
::after,
::before {
    font: inherit;
    box-sizing: border-box;
    margin: unset;
    padding: unset;
}

::after,
::before {
    display: inline-block;
}

:disabled {
    cursor: not-allowed;
}

[hidden] {
    display: none!important;
}

[title] {
    text-decoration: underline dotted;
}

[rel=external]::after {
    content: url("/imgs/svg/btn_extlink.svg");
}

[rel=bookmark]::before {
    content: url("/imgs/svg/btn_permalink.svg");
}

html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
}

body > * {
    display: flex;
    flex-wrap: wrap;
    padding: calc(2.25vh + 1.125vw) 2.25vw;
    margin: 0;
}

main,
[role=main] {
    flex-direction: column;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
caption,
legend {
    font-weight: bold;
    width: max-content;
    max-width: 100%;
    padding: 1.5vh 2vw;
}

h1 { font-size: calc(1rem + 3.25vw); }

h2 { font-size: calc(1rem + 2vw); }

h3 { font-size: calc(1rem + 1.25vw); }

h4 { font-size: calc(1rem + 1vw); }

h5 { font-size: calc(1rem + .5vw); }

h6,
legend,
caption {
 font-size: calc(1rem + .25vw);
}

[href],
input,
button,
select,
option,
summary,
textarea {

}

